@media (max-width: 600px) {
    @font-face {
        font-family: 'bebas_neueregular';
        src: url('font/bebasneue-regular-webfont.woff2') format('woff2'), url('../font/bebasneue-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .row-1 {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-2 {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-3 {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-4 {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-5 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-6 {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-7 {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-8 {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-9 {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .row-10 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    body {
        margin: auto;
    }
    .topspan {
        font-size: 56px;
        display: flex;
        margin-top: 7px;
        font-family: 'bebas_neueregular';
        width: 145px;
        height: 43px;
        line-height: 58px;
        margin-left: 210px;
        letter-spacing: 1px;
    }
    .letras {
        font-family: 'bebas_neueregular';
        font-size: 43px;
        line-height: 43px;
        color: #000000;
        text-align: center;
        margin-top: 14px;
    }
    .pergunta {
        width: 59px;
        height: 43px;
        background: #7FE0BD;
        border-radius: 8px;
        margin-left: 32px;
        border: none;
        font-family: 'bebas_neueregular';
        font-size: 27px;
        text-align: center;
}
    
    .calcularbtn {
        width: 310px;
        height: 38px;
        background: #7FE0BD;
        border-radius: 8px;
        font-size: 33px;
        line-height: 29px;
        color: #000000;
        border: none;
        margin-left: 24px;
        height: 53px;
        font-family: 'bebas_neueregular';
    }
    .imgs {
        background-image: url(../img/Rectangle\ 2.png), url(../img/Rectangle\ 3.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 105px 9px, 6px 246px;
        background-size: 255px, 154px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0 0 0 / 0%);
    }
    .modal-content {
        background: rgba(196, 196, 196, 0.79);
        margin: auto;
        padding: 20px;
        width: 80%;
        height: 70%;
    }
    .close {
        background-image: url(../img/Ellipse\ 1.png);
        background-repeat: no-repeat;
        background-size: 60px;
        float: right;
        font-size: 56px;
        font-weight: bold;
        width: 61px;
        height: 65px;
        text-align: center;
    }
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .resultado {
        display: flex;
        font-family: 'bebas_neueregular';
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        margin-top: 150px;
    }
    .valorb {
        display: flex;
        font-family: 'bebas_neueregular';
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
    }
    .valorh {
        display: flex;
        font-family: 'bebas_neueregular';
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
    }
}